<h1><%= @question.description %></h1>
<%= link_to '#', method: :post, action: :create do %>
  <div class='row'>
    <div class='small-12 large-6 columns'>
      <div class='panel box-size red fsize'>
        <h1>hello</h1>
      </div>
    </div>
<% end %>

<%= link_to '#', method: :post, action: :create do %>
    <div class='small-12 large-6 columns'>
      <div class='panel box-size blue fsize'>
        <h1>hello</h1>
      </div>
    </div>
  </div>
<% end %>
