<h1>Status</h1>
<ol>
  <% @choices.each do |choice| %>
    <div class='row'>
      <li><%= choice.choice1  %> VS <%= choice.choice2 %></li>
      <a data-dropdown="hover1" data-options='is_hover:true' class="tiny alert round button dropdown">Sort By</a><br>
        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><%= link_to "Approve", status_path(choice), method: :put %></li>
          <%= link_to "Decline", status_path(choice), method: :delete %>
        </ul>
    </div>
  <% end %>
</ol>

